{% extends "layout.html" %}

{% block title %}Optimization remarks{% endblock %}

{% block head %}
{% call super() %}
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/colResizable-1.6.min.js"></script>
{% endblock %}

{% block content %}
<div>
    <table id="remark-table" width="100%"></table>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    const remarks = {{ remarks|json|safe }};
    $(document).ready(function() {
        $("#remark-table").DataTable({
            data: remarks,
                "lengthMenu": [[100, 500, -1], [100, 500, "All"]],
                columns: [
                    {title: "Kind", data: "name"},
                    {title: "Location", data: "location"},
                    {title: "Function", data: "function"},
                    {title: "Message", data: "message"},
                ],
        });
        $("#remark-table").colResizable();
    });
</script>
{% endblock %}
