{% extends "layout.html" %}

{% block title %}File list{% endblock %}

{% block content %}
{% include "menu.html" %}
<div>
    <ul>
    {% for link in source_links %}
      <li><a href="{{ link.file }}">{{ link.name }}</a> ({{ link.remark_count }} remark{% if link.remark_count != 1 %}s{% endif %})</li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
