{% extends "layout.html" %}

{% block title %}File {{ path }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div>
    File: {{ path }}
    Remarks: {{ remarks|json }}
    <pre>{{ file_content }}</pre>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
</script>
{% endblock %}
